body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#7593af;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #1c1e26;
}

nav a{
    margin: 10px;
    margin-left: 12px;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

#main_box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px; 
}

.input-box input {
    padding: 8px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

.contents {
    width: 300px;
    background-color: #3e4451;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    border-radius: 10px;
    color: #fff;
}

i {
    color: #f1f1f1;
}

footer {
    background-color: #1c1e26;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    text-align: center;
}

#footer_text {
    color: #d3d3d3;
}

#social_media .social-icon i {
    color: #d3d3d3;
}

#social_media .social-icon:last-child {
    margin-right: 15px;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 24px; 
    }

    #main_box {
        flex-direction: column; 
        padding-bottom: 20px; 
    }

    .contents {
        width: 90%;
        max-width: 400px; 
        padding: 10px; 
    }

    .input-box input {
        width: 100%; 
    }

    footer {
        padding: 15px 0; 
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 20px; 
    }

    .contents {
        width: 100%; 
        padding: 5px;
    }

    .input-box input {
        font-size: 14px; 
    }

    footer {
        padding: 10px 0; 
    }
}