
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2C3E50;
    color: #ECF0F1;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-fluid {
    flex: 1; 
}


.navbar {
    background-color: #1C2833;
}

.nav-link {
    color: #1ABC9C;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 500;
    color: #ECF0F1;
}


.main_banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #34495E;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.main_banner_img img {
    border-radius: 10px;
}

.main_banner_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main_banner_heading_text {
    font-size: 50px;
    font-weight: 550;
}

.main_banner_tagline {
    max-width: 400px;
    font-size: 20px;
    font-weight: 450;
}

#buttona {
    width: 150px;
    height: 45px;
    text-align: center;
    background-color: #1ABC9C;
    color: #ECF0F1;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

#buttona:hover {
    background: #16A085;
    transform: scale(1.05);
}

#buttona:active {
    background: #148F77;
    transform: scale(0.95);
}


.advantages {
    background-color: #2C3E50;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
}

.adv_text {
    background-color: #34495E;
    padding: 2rem;
    margin: 2rem;
    font-size: 20px;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    color: #ECF0F1;
}

.adv_heading h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #1ABC9C;
}

#item b {
    color: #1ABC9C;
    font-weight: 500;
}

#item {
    font-weight: 600;
    font-size: 25px;
    padding: 0.5rem;
    margin: 1rem;
}


.choices {
    display: flex;
    background-color: #2C3E50;
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
}

.choice1, .choice2 {
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.choice1 {
    background-color: #5D6D7E;
}

.choice2 {
    background-color: #85929E;
}

#choice_info {
    font-size: 40px;
    font-weight: 650;
    padding-bottom: 1rem;
    color: #ECF0F1;
}

.choice_info_text {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 1rem;
    color: #ECF0F1;
}


footer {
    background-color: #1C2833;
    color: #ECF0F1;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

footer span, footer a {
    color: #ECF0F1;
}

#social_media .social-icon i {
    color: #1ABC9C;
    font-size: 24px;
    transition: color 0.3s;
}

#social_media .social-icon i:hover {
    color: #16A085;
}
@media (max-width:768px) {
    nav {
        width: 100%;
    }
    .main_banner {
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;
    }
    .main_banner_img img {
        width: 100%;

    }
    .main_banner_heading_text {
        font-size: 30px;
    }
    .main_banner_tagline {
        font-size: 18px;
    }
    #buttona {
        width: 100%;
        height:40px;

    }
    .adv_text {
        font-size: 18px; 
        max-width: 100%; 
    }

    .choices {
        flex-direction: column; 
        padding: 1rem;
        margin: 1rem;
    }

    .choice1, .choice2 {
        margin: 1rem 0; 
    }

    #choice_info {
        font-size: 28px; 
    }

    .choice_info_text {
        font-size: 16px; 
    }

    footer {
        padding: 0.5rem 0; 
        width: 100%;
    }

    #social_media .social-icon i {
        font-size: 20px; 
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .main_banner {
        flex-direction: row; 
    }

    .main_banner_heading_text {
        font-size: 40px; 
    }

    .main_banner_tagline {
        font-size: 18px; 
    }

    .adv_text {
        font-size: 20px;
    }

    .choices {
        flex-direction: row; 
    }

    .choice1, .choice2 {
        margin: 1rem; 
    }

    #choice_info {
        font-size: 36px; 
    }

    .choice_info_text {
        font-size: 16px; }
}









